{% extends "base.html" %}
{% block home_a %}<li class="nav-item active">{% endblock %}
{% block main %}
    <div class="jumbotron text-center">
      <div class="container">
      	<h1 class="display-3 text-center">Stack</h1>
          <p class="text-center">
            <font size="5">Stack acts as a warehouse fulfillment center.
            	<br> We offer service to easily manage your own warehouse via a unique API.
            	<br> Let us do the dirty work for you! 
            </font>
          </p>
          	<a id="getAPI" class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Get API now &raquo;</a>
      </div>
    </div>
{% endblock %}


	